* {
    padding: 0;
    margin: 0;
}

html { 
    height: 100%; 
    /* overflow: hidden; */
}

body {
    font-family: helvetica, arial, sans-serif;
    background: #ffffff;
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.box_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 100%;
}

.cancel {
    padding: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: rgba(250, 250, 250, 0.54);
}

.cancel:hover {
    text-decoration: underline;
}  

.box_white {
    background: #ffffff;
    padding: 25px;
    position: relative;
}

.box_input {
    padding-bottom: 10px;
    
}

input {
    width: 100%;
    margin-top: 1px;
    padding: 10px;
    height: 36px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    font-size: 14px;
    color: #474747;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    background: #b8c2da;
    height: 37px;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.button:active {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.wrapper {
    width: 100%;
    height: 100%;
}

.content {
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}

.title_center {
    text-align: center;
}

.upwrapper_box {
    padding: 10px;
}

.wrapper_event {
    box-sizing: border-box;
    height: 90%;
}

.comments {
    display: none;
}

.last_comments {
    height: 300px;
    background: #fafafa;
    margin-bottom: 20px;
    border-radius: 3px;
}

.color_value_first {
    color: #000;
    cursor: pointer;
}

.color_value_second {
    color: #ccc;
    transition: .5s;
    cursor: pointer;
}

.color_value_second:hover {
    color: #000;
}

.button_switch {
    display: inline-block;
    padding: 10px;
}

.title_filter {
    display: inline-block;
}

.filter {
    padding: 10px;
}

.value {
    padding: 5px;
    cursor: pointer;
}

.box_hidden_filters {
    display: none;
}

.event {
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: .5s;
    border: 1px solid #ccc;
}

.event:hover {
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.city {
    display: inline-block;
}

.date {
    display: inline-block;
}

.box_info {
    padding: 10px;
    font-size: 12px;
    right: 0;
    top: 0;
    position: absolute;
}

.description {
    padding-top: 20px;
    font-size: 13px;
}

.theme {
    padding: 10px;
    cursor: pointer;
}

.theme:hover {
    text-decoration: underline;
}

.box_filters {
    display: inline-block;
    width: 310px;
    height: 100%;
    margin-right: -4px;
    background: rgba(233, 240, 255, 0.54);
}

.box_events {
    display: inline-block;
    width: 910px;
    margin-right: -4px;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

.box_buttons_save_search {
    display: inline-block;
    width: 180px;
}

.block_event_search {
    padding: 25px;
}
