<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="static/common.css">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="content">
                <div class="box_filters">
                    <div class="box_white">
                        Фильтры
                        <div class="cancel" id="cancel">сбросить</div>
                    </div>
                    <div class="wrapper_filters">
                        <div class="filter">
                            <div class="title_filter">Город: </div>
                            <div class="noselect color_value_first button_switch" onclick="filter(this)" id="button_city">выбрать...</div>
                            <input type="hidden" id="city">
                            <div class="box_hidden_filters" id="city_filter_hidden">
                                {% for event in page.events %}
                                    <div class="color_value_second noselect color_grey">{{ event.get('city') }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="wrapper_filters">
                        <div class="filter">
                            <div class="title_filter">Начало события: </div>
                            <div class="noselect color_value_first button_switch" onclick="filter(this)" id="button_time">выбрать...</div>
                            <input type="hidden" id="time">
                            <div class="box_hidden_filters" id="time_filter_hidden">
                                {% for event in page.events %}
                                    <div class="color_value_second noselect color_grey">{{ event.get('start_time') }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="wrapper_filters">
                        <div class="filter">
                            <div class="title_filter">Тема события: </div>
                            <div class="noselect color_value_first button_switch" onclick="filter(this)" id="button_title">выбрать...</div>
                            <input type="hidden" id="title">
                            <div class="box_hidden_filters" id="title_filter_hidden">
                                {% for event in page.events %}
                                    <div class="color_value_second noselect color_grey">{{ event.get('title') }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="button" onclick="save_filter()">сохранить</div>
                    <div class="box_white">
                        <div class="box_input">
                            <input placeholder="Email">
                        </div>
                    </div>
                    <div class="button">Подписаться на обновления</div>
                </div>
                <div class="box_events">
                    <div class="box_white">
                        События
                    </div>
                    <div class="wrapper_event">
                        {% for event in page.events %}
                            <div class="upwrapper_box">
                                <div class="event">
                                    <div class="title">{{ event.get('title') }}</div>
                                    <div class="box_info">
                                        <div class="city">{{ event.get('city') }},</div>
                                        <div class="date">{{ event.get('start_date') }} {{ event.get('start_time') }} до {{ event.get('end_date') }} {{ event.get('end_time') }}</div>
                                    </div>
                                    
                                    <div class="description">{{ event.get('description') }}</div>
                                    <div class="box_white">
                                        <div class="title">Темы для обсуждения:</div>
                                        {% for theme_event in page.theme_events %}
                                            <!-- {{ theme_event }} -->
                                            {% if theme_event.get('eid') ==  event.get('eid') %} 
                                                <div class="theme" onclick="open_comments({{ theme_event.get('cid') }}, {{ theme_event.get('eid') }}, this)">{{ theme_event.get('title_theme') }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="last_comments">
        
                                    </div>
                                    <div class="input_comments">
                                        <input placeholder="Напишите комментарий">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script>
            window.onload = function(){
                
               if (document.getElementById('cancel')){
                   cancel.onclick = async function(){
                        button_city.innerHTML = 'выбрать...'
                        button_time.innerHTML = 'выбрать...'
                        button_title.innerHTML = 'выбрать...'

                        city.value = ''
                        time.value = ''
                        title.value = ''

                        localStorage.removeItem(localStorage.getItem('id'))

                        await search()
                   }
               }

                let id = localStorage.getItem('id')
                let filter = localStorage.getItem(id)

                var filter_json = JSON.parse(filter)

                if(filter_json){
                    if (filter_json.city){
                        button_city.innerHTML = filter_json.city
                        city.value = filter_json.city
                    }
                    if (filter_json.time) {
                        button_time.innerHTML = filter_json.time
                        time.value = filter_json.time
                    }
                    if (filter_json.title) {
                        button_title.innerHTML = filter_json.title
                        title.value = filter_json.time
                    }

                    search()
                }

                
               
            }

            Notification.requestPermission();
            // var notification = new Notification('Сколько ТЫЖ программистов нужно чтобы вкрутить лампочку?',
            //     { body: 'Только ты!', dir: 'auto', icon: 'icon.jpg' }
            // );

            async function search(){
                        
                let result = await fetch(`/search?city=${encodeURIComponent(city.value)}&time=${encodeURIComponent(time.value)}&title=${encodeURIComponent(title.value)}`)

                if (result.ok){
                    let json = await result.json()
                    wrapper_event = document.getElementsByClassName('wrapper_event')[0]
                    wrapper_tmp = ''

                    var selector_filter_city = ''
                    var selector_filter_time = ''
                    var selector_filter_title = ''

                    for (var prop in json.page.events){
                        console.log(prop)
                        tmp_box = ''

                        selector_filter_city+=`<div class="color_value_second noselect color_grey">${json.page.events[prop].city}</div>`
                        selector_filter_time+=`<div class="color_value_second noselect color_grey">${json.page.events[prop].start_time}</div>`
                        selector_filter_title+=`<div class="color_value_second noselect color_grey">${json.page.events[prop].title}</div>`

                        for (var i in json.page.theme_events){
                            if (json.page.theme_events[i].eid == json.page.events[prop].eid){
                                tmp_box+=`<div class="theme" onclick="open_comments(${json.page.theme_events[i].cid}, ${json.page.theme_events[i].eid}, this)">${json.page.theme_events[i].title_theme}</div>`
                            }
                        }

                        wrapper_tmp+=`
                            <div class="upwrapper_box">
                                <div class="event">
                                    <div class="title">${json.page.events[prop].title}</div>
                                    <div class="box_info">
                                        <div class="city">${json.page.events[prop].city},</div>
                                        <div class="date">${json.page.events[prop].start_date} ${json.page.events[prop].start_time} до ${json.page.events[prop].end_date} ${json.page.events[prop].end_time}</div>
                                    </div>
                                    <div class="description">${json.page.events[prop].description}</div>
                                    <div class="box_white">
                                        <div class="title">Темы для обсуждения:</div>
                                            ${tmp_box}
                                    </div>
                                </div>
                                <div class="comments">
                                    <div class="last_comments">
        
                                    </div>
                                    <div class="input_comments">
                                        <input placeholder="Напишите комментарий">
                                    </div>
                                </div>
                            </div>
                        ` 
                    }

                    console.log(selector_filter_time)

                    wrapper_event.innerHTML = wrapper_tmp

                    city_filter_hidden.innerHTML = selector_filter_city
                    time_filter_hidden.innerHTML = selector_filter_time
                    title_filter_hidden.innerHTML = selector_filter_title
                }
            }
            

            async function save_filter(){
                var fingerprint = localStorage.getItem('id')

                let filter = {
                    "city": city.value,
                    "time": time.value,
                    "title": title.value
                }
                localStorage.setItem(fingerprint, JSON.stringify(
                    filter
                ))

                let result = await fetch('/add/filter_user', {
                    method: 'POST',
                    body: JSON.stringify({ 
                        id: fingerprint,
                        filter: filter
                    })
                })

                if (result.ok){
                    console.log(result)
                }
            }

            function open_comments(cid, eid, obj) {
                

                for (let k = 0; k < document.getElementsByClassName('theme').length; k++) {
                    document.getElementsByClassName('theme')[k].style.color = '#000'

                }

                for (let k = 0; k < document.getElementsByClassName('comments').length; k++) {
                    document.getElementsByClassName('comments')[k].style.display = 'none'
                }
                
                obj.style.color = "#ccc"
                var comments_box = obj.parentElement.parentElement.parentElement.lastElementChild
                comments_box.style.display = 'block'
                
                var input = comments_box.lastElementChild.lastElementChild
                input.setAttribute('cid', cid)
                input.setAttribute('eid', eid)
            }

            function filter(obj){
                let box_filters = obj.nextElementSibling.nextElementSibling
                if (box_filters.style.display == '' || box_filters.style.display == 'none'){
                    box_filters.style.display = "block"

                
                    box_filters.onclick = async function(event){
                        let target = event.target

                        var value_switcher = target.parentElement.parentElement.firstElementChild.nextElementSibling
                        value_switcher.nextElementSibling.value = target.innerHTML

                        await search()
                        value_switcher.innerHTML = target.innerHTML

                        box_filters.style.display = "none"
                    }
                }else{
                    box_filters.style.display = "none"
                }
            }
        </script>
        <script>
            function onFingerprintJSLoad(fpAgent) {
              fpAgent.get().then(result => {
                localStorage.setItem("id", result.visitorId);
              });
            }
          </script>
          <script
            async src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"
            onload="FingerprintJS.load().then(onFingerprintJSLoad)"
          ></script>
    </body>
</html>